@using static WebDoAn.Enums.ProductEnum
@model WebDoAn.ModelPrivew.ProductViewModal

@{
    ViewData["Title"] = "Tạo mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/lib/summernote/dist/summernote-lite.min.css" />
</head>
<style>
    #privew {
        width: 100%;
    }
</style>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a>
            <span class="breadcrumb-item active">Tạo mới sản phẩm</span>
        </nav>
    </div>
</div>
<hr />
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Thông tin tạo mới</h4>
    </div>
    <div class="card-body">
        <form asp-action="Create" id="form-validation" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Tên sản phẩm<span class="text-danger">*</span></label>
                        <input asp-for="Name" class="form-control border-input-1" name="Name" placeholder="Nhập tên sản phẩm ..."/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Danh mục sản phẩm<span class="text-danger">*</span></label>
                        <select asp-for="CategoryId" class="form-control border-input-1" asp-items="ViewBag.CategoryId">
                            <option value="" selected disabled>Chọn Danh mục sản phẩm</option>
                        </select>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Giá (VND)<span class="text-danger">*</span></label>
                        <input asp-for="Price" class="form-control border-input-1" placeholder="Nhập giá ..."/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Length" class="control-label">Chiều dài (cm)<span class="text-danger">*</span></label>
                        <input asp-for="Length" class="form-control border-input-1" placeholder="..." />
                        <span asp-validation-for="Length" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Width" class="control-label">Chiều rộng (cm)<span class="text-danger">*</span></label>
                        <input asp-for="Width" class="form-control border-input-1" placeholder="..." />
                        <span asp-validation-for="Width" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Height" class="control-label">Chiều cao (cm)<span class="text-danger">*</span></label>
                        <input asp-for="Height" class="form-control border-input-1" placeholder=" ..." />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label">Số lượng<span class="text-danger">*</span></label>
                        <input asp-for="Quantity" class="form-control border-input-1" placeholder="Nhập số lượng ..." />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Material" class="control-label">Chất liệu<span class="text-danger">*</span></label>
                        <input asp-for="Material" class="form-control border-input-1" placeholder="Nhập chất liệu" />
                        <span asp-validation-for="Material" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Photo" class="control-label">Ảnh<span class="text-danger">*</span></label>
                        <input asp-for="Photo" id="Image" type="file" class="form-control border-input-1" accept="image/*" onchange="document.getElementById('privew').src = window.URL.createObjectURL(this.files[0])" />
                        <img class="mt-1" id="privew" />
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="col-4">
                    <div class="form-group">
                        <label asp-for="TypeProduct" class="control-label">Trạng thái sản phẩm<span class="text-danger">*</span></label>
                        <select asp-for="TypeProduct" class="form-control border-input-1" asp-items="Html.GetEnumSelectList<TypeProduct>()">
                            <option value="" selected disabled>Chọn trạng thái</option>
                        </select>
                        <span asp-validation-for="TypeProduct" class="text-danger"></span>
                    </div>
                </div> *@
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label">Mô tả ngắn<span class="text-danger">*</span></label>
                <textarea asp-for="ShortDescription" class="form-control border-input-1" placeholder="Nhập mô tả ngắn ..."></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluate" class="control-label">Đánh giá (nhận từ khách hàng)</label>
                <textarea asp-for="Evaluate" class="form-control border-input-1" placeholder="Nhập đánh giá ..."></textarea>
                <span asp-validation-for="Evaluate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Thông tin chi tiết</label>
                <textarea id="summernote" class="form-control border-input-1" asp-for="Description" name="Description" rows="4" cols="50" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Trở lại danh sách</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/summernote/dist/summernote-lite.min.js"></script>
<script src="~/customjs/admin/product/create.js"></script>
