@model WebDoAn.Models.Blog

@{
    ViewData["Title"] = "Xóa tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Blogs" asp-action="Index">Danh sách tin tức</a>
            <span class="breadcrumb-item active">Xóa tin tức</span>
        </nav>
    </div>
</div>
<hr />

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Thông tin chi tiết</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <p><span class="font-weight-bold mr-2">Tiêu đề tin tức:</span><span> @Model.Title</span></p>
            </div>
            <div class="col-12">
                <p><span class="font-weight-bold mr-2">Ngày tạo:</span><span> @Model.CreateTime.Date.ToShortDateString()</span></p>
            </div>
            <div class="col-6">
                <p><span class="font-weight-bold mr-2">Ảnh</span></p>
                <div class="blockview_img">
                    <img class="img-fluid" src="/images/blog/@Model.ImgSrc" />
                </div>
            </div>
            <div class="col-12 mt-2">
                <p><span class="font-weight-bold mr-2">Mô tả ngắn:</span><span> @Model.SubDescription</span></p>
            </div>
            <div class="col-12">
                <p><span class="font-weight-bold mr-2">Mô tả chi tiết:</span></p>
                <div>@Html.Raw(Model.Description)</div>
            </div>
        </div>

        <div class="mt-5">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-area="Admin" asp-controller="Blogs" asp-action="Index" class="btn btn-secondary">Trở lại danh sách</a>
            </form>
        </div>
    </div>
</div>
