@model IEnumerable<WebDoAn.Models.Blog>

@{
    ViewData["Title"] = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Adminassets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách tin tức</span>
        </nav>
    </div>
</div>
<hr />

<div class="card">
    <div class="card-header d-flex align-items-center">
        <h4 class="card-title">Danh sách tin tức</h4>
        <div>
            <a asp-area="Admin" asp-controller="Blogs" asp-action="Create" class="btn btn-primary">Tạo mới</a>
        </div>
    </div>
    <div class="card-body">
        <div class="block_search">
            <input class="input_search" id="SearchInput" placeholder="Nhập tên loại hàng hóa" />
            <button id="Search" class="btn_search ml-2">Tìm kiếm</button>
        </div>
        <div class="table-responsive">
            <table id="data-table" class="table table-category w-100">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>
                            Thời gian tạo
                        </th>
                        <th>
                            Tiêu đề
                        </th>
                        <th>
                            Ảnh
                        </th>
                        <th>
                            Mô tả ngắn
                        </th>
                        <th class="text-center">#</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/moment/moment.min.js"></script>
<script src="~/lib/moment/locale/vi.js"></script>

<script src="~/Adminassets/vendors/datatables/jquery.dataTables.min.js"></script>
<script src="~/Adminassets/vendors/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/customjs/admin/blog/index.js"></script>