@using static WebDoAn.Enums.UserEnum

@{
	Layout = "~/Views/Shared/_AccessLayout.cshtml";
}
@model User

<section class="ftco-section">
	<div class="container">
		@* <div class="row justify-content-center">
		<div class="col-md-6 text-center mb-5">
		<h2 class="heading-section">Login #07</h2>
		</div>
		</div> *@
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
						<div class="text w-100">
							<h2>Xin chào !</h2>
							<p>Bạn có muốn trở lại để Đăng nhập ?</p>
							<a asp-controller="Access" asp-action="Login" class="btn btn-white btn-outline-white">Đăng nhập</a>
						</div>
					</div>
					<div class="login-wrap p-4 p-lg-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Đăng kí</h3>
							</div>
						</div>
						<form asp-controller="Access" asp-action="Register" method="post" class="signin-form" id="FormAccess">
							<div class="form-group mb-3">
								<label class="label" for="name">Họ và tên</label>
								<input asp-for="FullName" type="text" class="form-control" placeholder="Họ và tên" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Mật khẩu</label>
								<input asp-for="Password" type="password" class="form-control" id="Password" placeholder="Mật khẩu" maxlength="6" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Số điện thoại</label>
								<input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại" maxlength="10" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Email</label>
								<input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
							</div>
							<div class="form-group mb-3">
								<label class="label" for="password">Giới tính</label>
								<select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<GenderEnum>()" required>
									<option selected disabled value="">Chọn</option>
								</select>
							</div>
							<div class="form-group d-flex justify-content-end">
								<div class="w-50 text-left d-flex justify-content-end">
									<label class="checkbox-wrap checkbox-primary mb-0">
										Hiện mật khẩu
										<input type="checkbox" id="checkshow">
										<span class="checkmark"></span>
									</label>
								</div>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Đăng kí</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
